<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/semantic.min.css">
    <link rel="stylesheet" href="../assets/css/dataTables.semanticui.min.css">

    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/bundle.css">

    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">

    <link rel="shortcut icon" href="../assets/favicon.jpg" />
    <title>Inventur</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">

    <title>Document</title>
</head>

<body>
    <%- include('navbar'); %>

    <div class="row ml-0 mt-3 ml-3">
        <div>
            <button class="btn topbar_btn" id="New" title="Neuen Artikel hinzufügen">
                Neu
            </button>
            <button class="btn topbar_btn" id="Edit" disabled title="Wähle eine Zeile aus um sie bearbeiten zu können">
                Bearbeiten
            </button>
            <button class="btn topbar_btn" id="Delete" disabled title="Wähle mindestens eine Zeile aus um sie löschen zu können">
                Löschen
            </button>
        </div>
  
        <div class="w-100"></div>
      
        <div>

            <label for="OnlyWarnRows">
                <span>
                    Nur Reihen mit Warnungen anzeigen
                </span>
            </label>
        
            <label for="OnlyWarnRows" class="switch">
                <input id="OnlyWarnRows" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>

    <div id="tableDiv">

        <table id="table" class="ui celled table display" style="width:100%">
            <thead>
                <tr>
                    <th>Speichern</th>
                    <th>ID</th>
                    <th>Artikelnummer</th>
                    <th>Artikel</th>
                    <th>Anzahl</th>
                    <th>Mindestanzahl</th>
                    <th>Einheit</th>
                    <th>Lagerort</th>
                    <th>Lagerplatz</th>
                    <th>Kategorie</th>
                    <th>Erstellt von</th>
                    <th>Zuletzt geändert von</th>
                    <th>Änderungsdatum</th>
                    <th>Stichwörter</th>
                    <th>Logs</th>
                </tr>
            </thead>

            <tfoot>
                <tr id='inputTr'>
                    <th></th>
                    <th></th>
                    <th><input type="text" placeholder="Suche Artikelnummer"></th>
                    <th><input type="text" placeholder="Suche Artikel"></th>
                    <th><input type="text" placeholder="Suche Anzahl"></th>
                    <th><input type="text" placeholder="Suche Mindestanzahl"></th>
                    <th><input type="text" placeholder="Suche Einheit"></th>
                    <th><input type="text" placeholder="Suche Lagerort"></th>
                    <th><input type="text" placeholder="Suche Lagerplatz"></th>
                    <th><input type="text" placeholder="Suche Kategorie"></th>
                    <th><input type="text" placeholder="Suche Erstellt von"></th>
                    <th><input type="text" placeholder="Suche Zuletzt geändert von"></th>
                    <th><input type="text" placeholder="Suche Änderungsdatum"></th>
                    <th><input type="text" placeholder="Suche Stichwörter"></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <button id="list" class="btn topbar_btn">
            Liste anzeigen (<span>0</span>)
        </button>
    </div>

    <div id="PopUpDelete">
        <form id="deleteForm" action="/api/stock">

            <div class="PopUp_topBar">
                Eintrag Löschen
                <div id="mdiv"><div class="mdiv"><div class="md"></div></div></div>
            </div>
            <div class="PopUpDelete_middle">

            </div>
            <div class="PopUp_footer">
                <button class="btn btn-danger" type="submit">Löschen</button>
            </div>
        </form>
    </div>

    <div id="cover"></div>

    <footer>

    </footer>

    <script src="../assets/js/qrcode.min.js" ></script>
    <%- include('scripts'); %>
</body>

</html>