<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Inventur Login</title>
	<style>
		body{
			-webkit-user-select: none; /* Safari */
			-ms-user-select: none; /* IE 10+ and Edge */
			user-select: none; /* Standard syntax */
		}

		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}

		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}

		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing: border-box;
		}

		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}

		label:hover, input[type="checkbox"]{
			cursor: pointer;
		}
	</style>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<div class="login-form">
		<h1>Inventur Login</h1>
		<form action="/auth" method="POST">
			<label for="RememberMe">Remember Me?</label>
			<input type="checkbox" id="RememberMe">
			
			<input type="text" name="username" id="username" placeholder="Username" required>
			<input type="password" name="password" id="password" placeholder="Password" required>
		
			<input type="submit" value="Einloggen">
			<span id="errorMessage" style="color: red;"></span>
		</form>
	</div>

	<script src="../assets/js/jquery/jquery-3.2.1.js"></script>
	<script>
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		const err = urlParams.get('err');
		if(err == "FalseCred"){
			$("#errorMessage").text("Username und/oder Passwort sind nicht korrekt");
		}

		$("#username").val(getCookie("username"));
		if($("#username").val() != ""){
			$("#password").focus();
			$("#RememberMe").prop("checked", true);
		}else{
			$("#username").focus();
		}

		$("form").submit(function (event) {
			if($('#RememberMe').prop('checked')){
				document.cookie = `username=${$("#username").val()}`;
			}else{
				document.cookie = "username=";
			}
			//event.preventDefault(); //prevent default action
		});

		function getCookie(cname) {
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for(var i = 0; i <ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
				c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
				}
			}
			return "";
		}
	</script>
</body>

</html>