<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../assets/css/semantic.min.css">
    <link rel="stylesheet" href="../assets/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/stammdaten.css">

    <link rel="shortcut icon" href="../assets/favicon.jpg" />
    <title>Inventur - Stammdaten</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">

    <title>Document</title>
</head>

<body>
    <%- include('navbar'); %>

    <div class="container-fluid mt-3 mb-3 d-flex justify-content-center">
            <h1><u>Stammdaten</u></h1>
    </div>

    <div class="row Stamm_container">
        <div class="Stamm_div col-6">

            <h2>Ort</h2>
            <div style="height: 100%">
                <ul class="pl-5 pt-2 pb-5" style="font-size:1.2em;">
                <button id="CreateNode" class="btn btn-success mb-3" style="color: black"><i class="fas fa-certificate"></i> Erstellen</button>
                <button id="EditNode" class="btn btn-warning mb-3" disabled ><i class="fas fa-pen"></i> Bearbeiten</button>
                <button id="DeleteNode" class="btn btn-danger mb-3" style="color: black" disabled><i class="fas fa-times"></i> Löschen</button>
                <div id="locationUL" class="border">

                </div>
                </ul>
            </div>

   
        </div>
        <div class="Stamm_div col-6">
            <form>
                <table id="kategorieTable" class="ui celled table display" style="width:100%">
                    <h2>Kategorie</h2>
                    <thead>
                        <tr>
                            <th>Kategorie</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td class="AddRow">
                                Neuer Eintrag <i class="fas fa-chevron-down"></i>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
    <div class="row pb-5">
        <div class="Stamm_div col-6">
            <form>
                <table id="keywordsTable" class="ui celled table display" style="width:100%">
                    <h2>Stichwort</h2>
                    <thead>
                        <tr>
                            <th>Stichwörter</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td class="AddRow">
                                Neuer Eintrag <i class="fas fa-chevron-down"></i>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
        <div class="Stamm_div col-6">
            <form>
                <table id="unitTable" class="ui celled table display" style="width:100%">
                    <h2>Einheit</h2>
                    <thead>
                        <tr>
                            <th>Einheit</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td class="AddRow">
                                Neuer Eintrag <i class="fas fa-chevron-down"></i>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

    <footer>

    </footer>
    <%- include('scripts'); %>
    <script src="../assets/js/stammdaten.js"></script>
    <script src="../assets/js/masterdata_location.js"></script>

</body>

</html>